*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
body{
    background-color: #D5C498;      
}
header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
header h1{
    color: #807760;
}
header a{
    text-decoration: none;
}

nav{
    display: flex;
    gap: 20px;
}
nav a{
    color: #554C32;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 5px;
}
nav a:hover{
    background-color: #554C32;
    color:white;   
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 680px) {
    header{
        flex-direction: column;
    }
    nav{
        flex-direction: column;
        margin-top: 15px;
        align-items: center;
    }

}
